/* Reset & Normalize */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}




.App {
  min-height: 100vh;
  display: flex;
  background-image: url(./assets/chat-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Makes image cover entire viewport */
  color: whitesmoke;
}

.createAccount{
  transition: 0.5s;
  cursor: pointer;
}

.createAccount:hover {
  color: #8f94fb;
}

 label {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   gap: 15px;

   img {
     width: 50px;
     height: 50px;
     border-radius: 100%;
     object-fit: cover;
     /* opacity: 0.6; */
   }
 }