/* Reset & Normalize */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}




.App {
  min-height: 100vh;
  display: flex;
  background-image: url(./assets/chat-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Makes image cover entire viewport */
  color: whitesmoke;
}