/* Reset & Normalize */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  background-image: url(./assets/chat-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Makes image cover entire viewport */
  color: whitesmoke;
}

.createAccount{
  transition: 0.5s;
  cursor: pointer;
}

.createAccount:hover {
  color: #8f94fb;
}

 label {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   gap: 15px;

   img {
     width: 52px;
     height: 50px;
     border-radius: 100%;
     object-fit: cover;
     /* opacity: 0.6; */
   }
 }
   
 @keyframes pulseGlow {
   0% {
     box-shadow:
       0 0 16px #ff966d,
       0 0 32px #ff966d,
       0 0 64px #ff966d,
       0 0 96px #ff966d;
   }

   50% {
     box-shadow:
       0 0 24px #fa538d,
       0 0 48px #fa538d,
       0 0 96px #fa538d,
       0 0 128px #fa538d;
   }

   100% {
     box-shadow:
       0 0 16px #89379c,
       0 0 32px #89379c,
       0 0 64px #89379c,
       0 0 96px #89379c;
   }
 }

 #gradient-loading-bar {
   border-radius: 8px;
   animation: pulseGlow 1.8s infinite ease-in-out;
 }

 .scrollable-chat {
    overflow-y: auto;
      scroll-behavior: smooth;
      /* smooth scroll */
      -webkit-overflow-scrolling: touch;
      /* iOS momentum scroll */
    
      /* Hide scrollbar but keep scroll */
      scrollbar-width: none;
      /* Firefox */
 }

 .scrollable-chat::-webkit-scrollbar {
   display: none;
   /* Chrome, Safari, Edge */
 }

 